.output {
  display: none;
}

body {
  background-image: url("https://az616578.vo.msecnd.net/files/responsive/cover/main/desktop/2016/04/22/6359694630551193681640755190_Stress-Management01.png");
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  height: 130px;
  width: 200px;
  background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2015-04/9/12/campaign_images/webdr08/what-should-you-put-on-your-tombstone-2-1316-1428597018-8_dblbig.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  color: white;
  border: 10px solid green;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 15px;
}
